/* Utility class to hide the form */
.form-hidden {
  display: none;
}

/* Container for the Unstrung/Custom buttons */
.stringing-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px !important;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;
}

.option-button {
  flex: 1;
  padding: 10px !important;
  /* border: 2px solid #555; */
  background-color: #f8f9fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  transition: background-color 0.3s, color 0.3s;
}

.option-button:first-child {
  border-right: 1px solid #ddd;
}

.option-button.active {
  background-color: #3498db;
  color: white;
  font-weight: 700;
}

.option-button:not(.active):hover {
  background-color: #bbbbbb;
}

/* Container for all the dynamically added fields */
.my-custom-field-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between each form field group */
  margin-bottom: 30px;
}

/* Styles for each individual form field (label + input) */
.form-field {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 500;
  color: #34495e;
}

input[type="text"],
select {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-appearance: none; /* Removes default safari styling */
  -moz-appearance: none; /* Removes default firefox styling */
  appearance: none;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

.new-buy-button.active {
  flex: 1;
  padding: 10px !important;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  font-weight: 700;
  background: black;
}

.new-buy-button.disabled {
  flex: 1;
  padding: 10px !important;
  border: 1px solid black;
  font-size: 16px;
  background-color: #3498db;
  color: black;
  font-weight: 700;
  background: white;
}

.new-buy-button.active:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(52, 152, 219, 0.4);
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  z-index: 9999; /* Ensure it's above other elements */
}

.tooltip.active {
  visibility: visible;
  opacity: 1;
}
